.backend-content {
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    border-top: 10px;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
}

.backend-content::before {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
}

.backend-main-content {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
}

@keyframes pulse {
    0% {
        opacity: 0.5;
        transform: translate(-50%, -50%) scale(0.8);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(2);
    }
}

.backend-titulo {
    width: 100%;
    text-align: right;
    flex-shrink: 0;
}

.backend-info {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    flex-direction: column;
}

.backend-projetos {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    flex-direction: column;
    position: relative;
}

/*position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(50%);
    z-index: 1;
    animation: pulse2 4s ;*/

@keyframes pulse2 {
    0% {
        opacity: 0.5;
        transform: translate(-50%, -50%) scale(0.5);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

.subtitulo {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #00f7ff;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 10px;
    max-width: 100%;
    text-align: left;
    margin-right: 25%;

}

