* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #0f0f1e;
    color: #fff;
    font-size: 16px;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
}

.logo {
    font-family: "Orbitron", sans-serif;
    font-size: 2rem;
    font-weight: 900;
    color: #00f7ff;
    text-shadow: 0 0 10px rgba(0, 247, 255, 0.5);
}



header nav ul {
    display: flex;
    gap: 48px;
}

header nav ul li {
    cursor: pointer;
    position: relative;
    padding: 5px 0;

}

header nav ul li::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #00f7ff;
    transition: width 0.2s ease;
}

header nav ul li:hover::after {
    width: 100%;
}

.menu-item a {
    text-decoration: none;
    color: inherit;
    display: block;
}

.container {
    position: relative;
    overflow: hidden;
}

.perfil {
    height: 100vh;
    background: linear-gradient(135deg, #0f1e14 0%, #1f1f3a 100%);
    overflow: hidden;
}

.perfil::before {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(0, 247, 255, 0.2) 0%, rgba(15, 15, 30, 0) 70%);

}


@keyframes pulse {
    0% {
        opacity: 0.5;
        transform: translate(-50%, -50%) scale(0.8);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(2);
    }
}


.perfil-content {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    margin-top: 8%;

}

.perfil-principal {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 65%;
    z-index: 2;
    
}

/*position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(50%);
    z-index: 1;
    animation: pulse2 4s ;*/

@keyframes pulse2 {
    0% {
        opacity: 0.5;
        transform: translate(-50%, -50%) scale(0.5);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

.perfil-img {
    width: auto;
    height: 60%;
    display: flex;
    justify-content: left;
    align-items: left;
    position: relative;
    z-index: 2;
    padding-bottom: 2%;
    padding-left: 10%;
}

.perfil-img img {
    max-width: 100%;
    max-height: 100%;
    filter: drop-shadow(0 0 30px rgba(0, 247, 255, 0.3));

}

.perfil-text {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10;

}

.subtitulo {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #00f7ff;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 10px;
    max-width: 100%;
    text-align: left;
}



.perfil-description {
    font-size: 1.1rem;
    color: #b8b8d0;
    line-height: 1.6;
    margin-bottom: 30px;
    max-width: 100%;
    text-align: justify;
}

.tecnologias-container {
    width: 100%;
    overflow: hidden;
    margin-bottom: 5%;
}

.tecnologias {
    display: flex;
    white-space: nowrap;
    list-style: none;
    padding: 0;
    margin: 0;
    animation: scroll-automatico 20s linear infinite;
    cursor: pointer;
    position: relative;
    width: 100%;
    gap: 1px;
}

.subtitulo-tecnologia {
    font-size: 1rem;
    text-transform: uppercase;
    color: #00f7ff;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 10px;
    max-width: 60%;
    text-align: justify;
    padding-left: 10%;

}

.tecnologias-item {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 50%;
}

.tecnologias-item img {
    width: 15%;
    height: auto;
    text-decoration: none;
    color: inherit;
    display: block;
}



.tecnologias-label {
    font-size: 1rem;
    text-transform: uppercase;
    color: #00f7ff;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 10px;
    max-width: 60%;
    text-align: center;
}

@keyframes scroll-automatico {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.tech-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

}

.circle {
    position: absolute;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.circle:nth-child(1) {
    width: 200px;
    height: 200px;
    top: 10%;
    left: 10%;
}

.circle:nth-child(2) {
    width: 300px;
    height: 300px;
    top: 60%;
    left: 80%;
}

.circle:nth-child(3) {
    width: 150px;
    height: 150px;
    top: 70%;
    left: 20%;
}

.circle:nth-child(4) {
    width: 120px;
    height: 120px;
    top: 20%;
    left: 70%;
}

